body{
    font-family: Georgia, serif;
}
.row_detail{
    border-radius: 0% 10%;
    padding: 5%;
    font-size: 30px;

display: flex;
    background-color: #f1f1f1;
}
#data{
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.headers{
    font-weight: bold;
    background-color: #333333;
    color: white;
    border-radius: 20px;
    padding-left: 20px;
}
.column_img{
    display: inline-block;
    text-align: center;
}
.column_detail{

    padding-left: 20px;
}
.text{
    padding-left: 50px;
}

